.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary),transparent);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
    cursor: pointer;
}

.about__me-image:hover{
    transform: rotate(0);
   
}

.about__cards{
    display: flex;
   
    gap: 2rem;
}

.about__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2.3rem;
    text-align: center;
    transition: var(--transition);
    cursor: pointer;
}

.about__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}

.about__icon{
    font-size: 1.4rem;
    color: var(--color-primary);
    margin-bottom: 0.5rem;
}

.about__card h5{
    font-size: 0.95rem;
}

.about__card span{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

/* ======= MEDIA QUERIRES ============ */


@media screen and (max-width:1024px) {
  
   .about__container{
    grid-template-columns: 100%;
    gap: 0;
   }

   .about__cards{
    justify-content: center;
   }

   .about__me{
    width: 50%;
    margin: 2rem auto 4rem;
   }

   .about__content p{
    text-align: center;
   }


   .about__content a{
    text-align: center;
    display: block;
    margin: auto;
   }
    
  }
  
  
  @media screen and (max-width:767px) {
   
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
       }

       .about__cards{
        justify-content: center;
        display: block;
        margin-bottom: 20px;
       }
    
       .about__card{
        justify-content: center;
        display: block;
        margin-bottom: 20px;
       }

      
       .about__content{
        text-align: center;
       }

       .about__content p{
        margin: 1.5rem 0;
        font-size: 14px;
       }

   
  } 